.personal-info {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.name-and-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.name-and-title > p {
  font-size: 36px;
  color: #9481b8;
  margin: 0;
  padding: 0;
}

.name-and-title > p:last-child {
  font-size: 24px;
  color: black;
  font-weight: 300;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal-line {
  width: 100%;
  background-color: #9481b8;
  height: 4px;
}

.contacts-and-locations {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 300;
}

.contacts-and-locations li {
  display: flex;
  align-items: center;
  gap: 6px;
}

.contacts-and-locations li img {
  height: 24px;
  width: 24px;
}

.description {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}
